QProgressBar {
        border: 2px solid gray;
        border-radius: 5px;
        background-color: #f0f0f0;
        text-align: center;
    }

QProgressBar::chunk {


    qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(255, 255, 255, 255), stop:0.499 rgba(255, 255, 255, 255), stop:0.5 rgba(200, 184, 255, 255), stop:1 rgba(200, 184, 255, 255));

}
