ExportComboBox {
    background-color: #3498db;
    border-radius: 10px;
    border: 2px solid gray;
    padding: 1px 18px 1px 3px;
    color: #ffffff
}
ExportComboBox {
    background-color: #2980b9;
}